<div class="head">
    <div class="headLeft">
        <div class="logo"><a href="{:U('/Home/Index/index')}"><img src="__IMG__/logo.png" width="90" height="90"/></a></div>
        <div class="Txt">
            <p><a href="javascript:;"><img src="__IMG__/Txt.png" width="308" height="32" /></a></p>
            <p class="text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Hemei Experimental School , Qinhuangdao</p>
        </div>
    </div>
    <div class="headRight">
        <div class="title">
         <span>
			<a href="{:U('/Home/Index/index')}"><b class="in"></b></a>
			<a href="{:U('/Home/Index/index')}" >返回首页</a>
		</span>
         <span>
			<a href="javascript:;" onclick="AddFavorite(window.location,document.title)"><b class="sc"></b></a>
			<a onclick="AddFavorite(window.location,document.title)" style="cursor: pointer;">加入收藏</a>
		 </span>
         <span>
			 <a href="{:U('/Home/Article/index/cid/5')}"><b class="lx"></b></a>
			 <a href="{:U('/Home/Article/index/cid/5')}">联系和美</a>
		 </span>
            <!--<a onclick="SetHome(this,window.location)" style="cursor: pointer;">设为首页</a>
            <a onclick="AddFavorite(window.location,document.title)" style="cursor: pointer;">收藏本站</a>
            -->
        </div>
    </div>
</div>