<div class="mian_right_text">
    <div class="inkPhoBox">
        <div class="scroll">
            <div class="left">
                <div class="mod18">
                    <span id="prevTop" class="btn prev"></span>
                    <span id="nextTop" class="btn next"></span>
                    <div class="bigImgBox">
                        <div id="picBox" class="picBox">
                            <ul class="cf" style="width: 15840px; left: -6220px;">
                                <li> <a href="#" target="_blank"><img src="/ueditor/php/upload/20150217/14241765233238.jpg"></a></li>
                                <li> <a href="#" target="_blank"><img src="/ueditor/php/upload/20150217/14241765556755.jpg"></a></li>
                                <li> <a href="#" target="_blank"><img src="/ueditor/php/upload/20150217/14241765894913.jpg"></a></li>
                                <li> <a href="#" target="_blank"><img src="/ueditor/php/upload/20150217/14241766237814.jpg"></a></li>
                                <li> <a href="#" target="_blank"><img src="/ueditor/php/upload/20150217/14241766626700.jpg"></a></li>
                                <li> <a href="#" target="_blank"><img src="/ueditor/php/upload/20150217/14241767039644.jpg"></a></li>
                                <li> <a href="#" target="_blank"><img src="/ueditor/php/upload/20150217/14241767381591.jpg"></a></li>
                                <li> <a href="#" target="_blank"><img src="/ueditor/php/upload/20150217/14241767824407.jpg"></a></li>
                                <li> <a href="#" target="_blank"><img src="/ueditor/php/upload/20150217/14241768226319.jpg"></a></li>
                                <li> <a href="#" target="_blank"><img src="/ueditor/php/upload/20150217/14241768571734.jpg"></a></li>
                                <li> <a href="#" target="_blank"><img src="/ueditor/php/upload/20150217/14241768982858.jpg"></a></li>
                                <li> <a href="#" target="_blank"><img src="/ueditor/php/upload/20150217/14241769341888.jpg"></a></li>
                                <li> <a href="#" target="_blank"><img src="/ueditor/php/upload/20150217/14241769745605.jpg"></a></li>
                                <li> <a href="#" target="_blank"><img src="/ueditor/php/upload/20150217/14241771851914.jpg"></a></li>
                                <li> <a href="#" target="_blank"><img src="/ueditor/php/upload/20150217/14241772418737.jpg"></a></li>
                                <li> <a href="#" target="_blank"><img src="/ueditor/php/upload/20150217/14241772802713.jpg"></a></li>
                                <li> <a href="#" target="_blank"><img src="/ueditor/php/upload/20150217/14241773161621.jpg"></a></li>
                                <li> <a href="#" target="_blank"><img src="/ueditor/php/upload/20150217/14241773742869.jpg"></a></li>
                                <li> <a href="#" target="_blank"><img src="/ueditor/php/upload/20150217/14241774177894.jpg"></a></li>
                                <li> <a href="#" target="_blank"><img src="/ueditor/php/upload/20150217/14241774569558.jpg"></a></li>
                                <li> <a href="#" target="_blank"><img src="/ueditor/php/upload/20150217/1424177495495.jpg"></a></li>
                                <li> <a href="#" target="_blank"><img src="/ueditor/php/upload/20150217/14241775317137.jpg"></a></li>
                                <li> <a href="#" target="_blank"><img src="/ueditor/php/upload/20150217/14241775658808.jpg"></a></li>
                                <li> <a href="#" target="_blank"><img src="/ueditor/php/upload/20150217/14241776014195.jpg"></a></li>
                                <li> <a href="#" target="_blank"><img src="/ueditor/php/upload/20150217/14241776382104.jpg"></a></li>
                                <li> <a href="#" target="_blank"><img src="/ueditor/php/upload/20150217/14241776686544.jpg"></a></li>
                                <li> <a href="#" target="_blank"><img src="/ueditor/php/upload/20150217/14241777147649.jpg"></a></li>
                                <li> <a href="#" target="_blank"><img src="/ueditor/php/upload/20150217/14241782946880.jpg"></a></li>
                                <li> <a href="#" target="_blank"><img src="/ueditor/php/upload/20150217/14241783306448.jpg"></a></li>
                                <li> <a href="#" target="_blank"><img src="/ueditor/php/upload/20150217/14241783685823.jpg"></a></li>
                                <li> <a href="#" target="_blank"><img src="/ueditor/php/upload/20150217/14241784041334.jpg"></a></li>
                                <li> <a href="#" target="_blank"><img src="/ueditor/php/upload/20150217/14241784386471.jpg"></a></li>
                                <li> <a href="#" target="_blank"><img src="/ueditor/php/upload/20150217/14241784724395.jpg"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="smImgBox">
                        <span id="prev" class="btn prev"></span>
                        <span id="next" class="btn next"></span>
                        <div id="listBox" class="listBox">
                            <ul class="cf" style="width: 2640px; left: -878px;">

                                <li class=""><i class="arr2"></i><img src="/ueditor/php/upload/20150217/14241765233238.jpg" style="height:44px;width:80px;"></li>

                                <li class=""><i class="arr2"></i><img src="/ueditor/php/upload/20150217/14241765556755.jpg" style="height:44px;width:80px;"></li>

                                <li class=""><i class="arr2"></i><img src="/ueditor/php/upload/20150217/14241765894913.jpg" style="height:44px;width:80px;"></li>

                                <li class=""><i class="arr2"></i><img src="/ueditor/php/upload/20150217/14241766237814.jpg" style="height:44px;width:80px;"></li>

                                <li class=""><i class="arr2"></i><img src="/ueditor/php/upload/20150217/14241766626700.jpg" style="height:44px;width:80px;"></li>

                                <li class=""><i class="arr2"></i><img src="/ueditor/php/upload/20150217/14241767039644.jpg" style="height:44px;width:80px;"></li>

                                <li class=""><i class="arr2"></i><img src="/ueditor/php/upload/20150217/14241767381591.jpg" style="height:44px;width:80px;"></li>

                                <li class=""><i class="arr2"></i><img src="/ueditor/php/upload/20150217/14241767824407.jpg" style="height:44px;width:80px;"></li>

                                <li class=""><i class="arr2"></i><img src="/ueditor/php/upload/20150217/14241768226319.jpg" style="height:44px;width:80px;"></li>

                                <li class=""><i class="arr2"></i><img src="/ueditor/php/upload/20150217/14241768571734.jpg" style="height:44px;width:80px;"></li>

                                <li class=""><i class="arr2"></i><img src="/ueditor/php/upload/20150217/14241768982858.jpg" style="height:44px;width:80px;"></li>

                                <li class=""><i class="arr2"></i><img src="/ueditor/php/upload/20150217/14241769341888.jpg" style="height:44px;width:80px;"></li>

                                <li class=""><i class="arr2"></i><img src="/ueditor/php/upload/20150217/14241769745605.jpg" style="height:44px;width:80px;"></li>

                                <li class="on"><i class="arr2"></i><img src="/ueditor/php/upload/20150217/14241771851914.jpg" style="height:44px;width:80px;"></li>

                                <li class=""><i class="arr2"></i><img src="/ueditor/php/upload/20150217/14241772418737.jpg" style="height:44px;width:80px;"></li>

                                <li class=""><i class="arr2"></i><img src="/ueditor/php/upload/20150217/14241772802713.jpg" style="height:44px;width:80px;"></li>

                                <li class=""><i class="arr2"></i><img src="/ueditor/php/upload/20150217/14241773161621.jpg" style="height:44px;width:80px;"></li>

                                <li class=""><i class="arr2"></i><img src="/ueditor/php/upload/20150217/14241773742869.jpg" style="height:44px;width:80px;"></li>

                                <li class=""><i class="arr2"></i><img src="/ueditor/php/upload/20150217/14241774177894.jpg" style="height:44px;width:80px;"></li>

                                <li class=""><i class="arr2"></i><img src="/ueditor/php/upload/20150217/14241774569558.jpg" style="height:44px;width:80px;"></li>

                                <li class=""><i class="arr2"></i><img src="/ueditor/php/upload/20150217/1424177495495.jpg" style="height:44px;width:80px;"></li>

                                <li class=""><i class="arr2"></i><img src="/ueditor/php/upload/20150217/14241775317137.jpg" style="height:44px;width:80px;"></li>

                                <li class=""><i class="arr2"></i><img src="/ueditor/php/upload/20150217/14241775658808.jpg" style="height:44px;width:80px;"></li>

                                <li class=""><i class="arr2"></i><img src="/ueditor/php/upload/20150217/14241776014195.jpg" style="height:44px;width:80px;"></li>

                                <li class=""><i class="arr2"></i><img src="/ueditor/php/upload/20150217/14241776382104.jpg" style="height:44px;width:80px;"></li>

                                <li class=""><i class="arr2"></i><img src="/ueditor/php/upload/20150217/14241776686544.jpg" style="height:44px;width:80px;"></li>

                                <li class=""><i class="arr2"></i><img src="/ueditor/php/upload/20150217/14241777147649.jpg" style="height:44px;width:80px;"></li>

                                <li class=""><i class="arr2"></i><img src="/ueditor/php/upload/20150217/14241782946880.jpg" style="height:44px;width:80px;"></li>

                                <li class=""><i class="arr2"></i><img src="/ueditor/php/upload/20150217/14241783306448.jpg" style="height:44px;width:80px;"></li>

                                <li class=""><i class="arr2"></i><img src="/ueditor/php/upload/20150217/14241783685823.jpg" style="height:44px;width:80px;"></li>

                                <li class=""><i class="arr2"></i><img src="/ueditor/php/upload/20150217/14241784041334.jpg" style="height:44px;width:80px;"></li>

                                <li class=""><i class="arr2"></i><img src="/ueditor/php/upload/20150217/14241784386471.jpg" style="height:44px;width:80px;"></li>

                                <li class=""><i class="arr2"></i><img src="/ueditor/php/upload/20150217/14241784724395.jpg" style="height:44px;width:80px;"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

</div>